@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
  width: 100vw;
  height: 100%;
}

.page {
  width: 100vw;
  height: 100%;
  position: absolute;
  padding-top: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container {
  background-color: #ffff;
  border-radius: 20px;
  margin-top: 38px;
  min-width: 323px;
  min-height: 244px;
}

.container h1 {
  text-transform: uppercase;
  position: absolute;
  padding-top: 23px;
  padding-left: 28px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 117.1%;
  letter-spacing: 0.07em;
  color: #000000;
}

.button_big {
  margin-top: 38px;
  min-width: 323px;
  min-height: 69px;
  background: #86C0FF;
  border-radius: 20px;
}

.button_big img {
  position: absolute;
  margin-left: 271px;
  margin-top: 19px;
}

.button_big p {
  margin-top: 16px;
  margin-left: 29px;
  position: absolute;
  text-transform: uppercase;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 136.1%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  border-radius: 20px;

}

.container, .button_big {
  box-shadow: 0px 19px 29px rgba(0, 0, 0, 0.18);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.container:hover, .button_big:hover {
  box-shadow: 0px 11px 26px rgba(0, 0, 0, 0.23);
  /* transform: translateY(1px); */
}

.button_big:active {
  box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(5px);
}

.slider {
  width: 323px;
  min-height: 453px;
  overflow: hidden;
}

.swiper-container img {
  transform: translateX(-2px);
  width: 325px;
  height: 453px;
}

.swiper-wrapper {
    border-radius: 20px;
    overflow:hidden
}

#intro {
  background-image: url('../img/main-bg.png');
  background-size: 100%;
  min-height: 137px;
  height: 137px;
}

#intro h1 {
  color: #fff;
  padding-top: 68px;
}
