@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

*{
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

.graphic {
  width: 322px;
  height: 137px;
  background-image:url(../img/rect.png);
}

#intro h1 {
  color: #fff;
  padding-top: 68px;
  line-height: 117.1%;
}

#intro p {
  margin: 30px 30px 30px 30px;
  width: 263px;
}

#progmap h1 {
  margin-bottom: 25px;
}

#progmap > p {
  margin-top: 5px;
  margin-left: 30px;
  width: 263px;
}

#progmap > h2 {
  margin-top: 20px;
  margin-left: 30px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
}

#progmap > img {
  margin-left: 30px;
  margin-top: 10px;
}

#review {
  min-height: 220px;
}

.review-content {
  margin-left: 30px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-content h1 {
  font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.05em;
color: #000000;
}

.review-content h2 {
font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.05em;
color: #000000;
margin-left: 12px;
}

#review p {
  margin-left: 30px;
  margin-top: 13px;
}

.swiper-container {
    width: 323px;
    height: 203px;
    margin-left: 0;
    margin-right: 0;
}


/* MOBILE */

@media only screen and (max-device-width : 768px) {
  img.desktop-only, .desktop-only {
    display: none;
  }
}

/* TABLET */

@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) {
  img.desktop-only, .desktop-only {
    display: none;
  }

/* DESKTOP */

  @media only screen and (min-device-width : 1366px) {

  }









/* ANIMATIONS */

@-webkit-keyframes soft-zoom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 1;
  }
}

@keyframes soft-zoom {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0;
            -webkit-opacity: 0;
  }
  100% {
      -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
            -webkit-opacity: 1;
  }
}

@keyframes fadein {
  0% {
            opacity: 0;
            -webkit-opacity: 0;
  }
  100% {
            opacity: 1;
            -webkit-opacity: 1;
  }
}
