@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

*{
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

.graphic {
  width: 322px;
  height: 137px;
  background-image:url(../img/rect.png);
  background-size: cover;
}

#intro h1 {
  color: #fff;
  padding-top: 68px;
  line-height: 117.1%;
}


#intro p {
  margin: 30px 30px 30px 30px;
  width: 263px;

}

.container h1 {
  margin-bottom: 25px;
}

.container > p, .progmap-data-flex p {
  margin-top: 5px;
  margin-left: 30px;
  width: 263px;
  font-size: 13pt;

}

.container > h2, .progmap-data-flex h2 {
  margin-top: 20px;
  margin-left: 30px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #000000;
}

.container > img, .progmap-data-flex img {
  margin-left: 30px;
  margin-top: 10px;
}

#review {
  height: 318px;
}

.button-small {
  position: sticky;
}

.review-content {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
}

.review-content h1 {
  font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.05em;
color: #000000;
}

.review-content h2 {
font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.05em;
color: #000000;
margin-left: 12px;
text-transform: uppercase;
}



#review p {
  margin-left: 30px;
  margin-top: 13px;
  font-size: 13pt;

}

.progmap {
  height: 433px;
}

.swiper-container {
    width: 323px;
    height: 212px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 43px;
}

.progmap-data-flex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  margin-bottom: 15px;
}


/* MOBILE */

@media only screen and (max-device-width : 768px) {
  img.desktop-only, .desktop-only {
    display: none;
  }

  .progmap-data-flex {
    flex-direction: column;
  }
}

/* TABLET */

@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) {
  img.desktop-only, .desktop-only {
    display: none;
  }
  .double-flex .container:first-of-type {
    margin-right: 20px;
  }
  #intro {
    width: 671px;
    height: 281px;
  }

  #intro h1 {
    padding-top: 178px;
    font-size: 32px;
  }

  #intro p {
    margin: 60px 30px 30px 50px;
  }

  .graphic{
    height: 282px;
  }

  .progmap-data-flex {
    flex-direction: column;
  }
}

/* DESKTOP */

  @media only screen and (min-device-width : 1366px) {
    #intro {
      width: 1305px;
      height: 344px;
    }

    #intro h1 {
      padding-top: 216px;
      font-size: 42px;
    }

    #intro p {
      margin-top: 99px;
      margin-left: 71px;
      font-size: 13pt;
      width: 350px;
    }

    .graphic {
      width: 630px;
      height:344px;
    }

    .progmap {
      width: 633px;
      height: 333px;
    }

    .progmap-data-flex {
      flex-direction: row;
    }

    container > p, .progmap-data-flex p {
      width: 150px;
    }

    footer {
      width: 1305px;
    }

  }









/* ANIMATIONS */

@-webkit-keyframes soft-zoom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
            opacity: 1;
  }
}

@keyframes soft-zoom {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            opacity: 0;
            -webkit-opacity: 0;
  }
  100% {
      -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
            -webkit-opacity: 1;
  }
}

@keyframes fadein {
  0% {
            opacity: 0;
            -webkit-opacity: 0;
  }
  100% {
            opacity: 1;
            -webkit-opacity: 1;
  }
}
