
body {
  width: 100vw;
  margin-bottom: 25px;
}

a {
  color: black;
  text-decoration: none;
}

.double-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.flmenu {
  position: -webkit-sticky;
  position: sticky;
  top: -1.5rem;
  width: 100vw;
  height: 136px;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#menu-wrapper {
  position: fixed;
  background-color: rgba(8, 30, 51, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 30;
  align-items: flex-start;
  justify-content: center;
  display: none;
  -webkit-animation: fadein 0.30s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: fadein 0.30s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#menu-wrapper ul {
  margin-left: 25px;
  margin-top: 58px;
}

#menu-wrapper li {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160.1%;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 11px;
}

#menu-content {
  width: 323px;
  pointer-events: all;
}

.goback {
  width: 323px;
}

.goback > div {
  transition-duration: 0.5s;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 90pt;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
}

.goback > div:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 14px 13px rgba(0, 0, 0, 0.16);
}

.goback > div:active {
  background-color: #E4E4E4;
  transform: translateY(2px);
  box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.2);
}

.social-container {
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.social-container img {
  box-shadow: 0px 18px 43px rgba(0, 0, 0, 0.16);
  margin-right: 21px;
  border-radius: 25pt;
}

#menu-cross {
  position: absolute;
  margin-left: 269px;
  margin-top: 15px;
}



.page {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container {
  background-color: #ffff;
  border-radius: 20px;
  margin-top: 38px;
  width: 323px;
  min-height: 260px;
  max-height: 454px;
  overflow: hidden;
}

.menu-container {
  -webkit-animation: soft-zoom 0.30s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: soft-zoom 0.30s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.container h1 {
  text-transform: uppercase;
  padding-top: 23px;
  padding-left: 28px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 117.1%;
  letter-spacing: 0.07em;
  color: #000000;
}

.container p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13pt;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #000000;
}

.container > p {
  margin-left: 30px;
}

.button-big {
  margin-top: 38px;
  width: 323px;
  min-height: 69px;
  background: #86C0FF;
  border-radius: 20px;
}

.button-big img {
  position: absolute;
  margin-left: 271px;
  margin-top: 19px;
}

.button-big p {
  margin-top: 16px;
  margin-left: 29px;
  position: absolute;
  text-transform: uppercase;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 136.1%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  border-radius: 20px;
}

.button-small {
  width: 159px;
  height: 31px;
  margin-top: 25px;
  margin-left: 25px;
  top: 1553px;
  background: #E4E4E4;
  border-radius: 90px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button-small:hover {
  background-color: #D9DDE0;
}

.button-small p {
  flex: 1 1 auto;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 160.1%;
  letter-spacing: 0.07em;
  padding-left: 15px;
}

.button-small img {
  padding-right: 13px;
}

.button-small:hover img {
  padding-right: 8px;
}


.container, .button-big, .button-small, .button-small img {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.container, .button-big {
  box-shadow: 0px 19px 29px rgba(0, 0, 0, 0.18);
}

.container:hover, .button-big:hover {
  box-shadow: 0px 11px 26px rgba(0, 0, 0, 0.23);
  /* transform: translateY(1px); */
}

.button-big:active {
  box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(5px);
}



footer p {
  font-family: IBM Plex Sans;
  font-weight: normal;
  font-size: 13px;
  line-height: 160.1%;
  text-align: center;
  letter-spacing: 0.07em;
  margin-top: 74px;
  margin-bottom: 60px;
}


/* MOBILE */

@media only screen and (max-device-width : 768px) {

  .container h1 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.07em;
    color: #000000;
  }

}


/* TABLET */

@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) {
    .double-flex {
      display: flex;
      align-items:flex-start;
      justify-content: flex-start;
      flex-direction: row;
    }

    .double-flex {
      display: flex;
      align-items:flex-start;
      justify-content: flex-start;
      flex-direction: row;
    }

    .goback {
      width: 671px;
    }


    #menu-content {
      width: 671px;
    }
}


/* DESKTOP */

  @media only screen and (min-device-width : 1366px) {

      .double-flex {
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: row;
      }

      .desktop-flex {
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: row;
      }

      .page {
        width: 1303px;
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
      }

      .double-flex .container:nth-of-type(2) {
        margin-left: 38px;
      }

      #menu-content {
        width: 1305px;
      }

      img.mobile-only {
        display: none;
      }

    }
