
body {
  width: 100vw;
  margin-bottom: 25px;
}

a {
  color: black;
  text-decoration: none;
}

.double-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.flmenu {
  position: -webkit-sticky;
  position: sticky;
  top: -1.5rem;
  width: 100vw;
  height: 136px;
  z-index: 20;
  background: linear-gradient(180.21deg, #E2F2FF 3.08%, rgba(202, 226, 248, 0.95) 62.85%, rgba(209, 234, 255, 0) 99.5%);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

#menu-wrapper {
  position: fixed;
  background-color: rgba(8, 30, 51, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 30;
  align-items: flex-start;
  justify-content: center;
  display: none;
  -webkit-animation: fadein 0.30s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: fadein 0.30s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#menu-wrapper ul {
  margin-left: 25px;
  margin-top: 58px;
}

#menu-wrapper li {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 160.1%;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 11px;
}

#menu-content {
  width: 323px;
  pointer-events: all;
}


.social-container {
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.social-container img {
  box-shadow: 0px 18px 43px rgba(0, 0, 0, 0.16);
  margin-right: 21px;
  border-radius: 25pt;
}

#menu-cross {
  position: absolute;
  margin-left: 269px;
  margin-top: 15px;
}



.page {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container {
  background-color: #ffff;
  border-radius: 20px;
  margin-top: 38px;
  width: 323px;
  min-height: 260px;
  max-height: 454px;
}

.menu-container {
  -webkit-animation: soft-zoom 0.30s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: soft-zoom 0.30s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



.container h1 {
  text-transform: uppercase;
  padding-top: 23px;
  padding-left: 28px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 117.1%;
  letter-spacing: 0.07em;
  color: #000000;
}


/* MOBILE */

@media only screen and (max-device-width : 768px) {
  img.desktop-only, .desktop-only, .samedate {
    display: none;
  }

  #event .double-flex {
    align-items: flex-start;
  }


  /* TABLET */

  @media only screen and (min-device-width : 768px) and (max-device-width : 1366px) {
      .double-flex {
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: row;
      }

      .double-flex {
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: row;
      }


      #menu-content {
        width: 671px;
      }

      img.desktop-only, .desktop-only {
        display: none;
      }

}


/* DESKTOP */

  @media only screen and (min-device-width : 1366px) {

      .double-flex {
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: row;
      }

      .desktop-flex {
        display: flex;
        align-items:flex-start;
        justify-content: flex-start;
        flex-direction: row;
      }

      .page {
        width: 1305px;
        margin: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
      }

      .double-flex:nth-of-type(2) {
        margin-left: 38px;
      }

      img.mobile-only {
        display: none;
      }

    }
